Source: githubmirror
Section: devel
Priority: extra
Build-Depends: debhelper (>= 7)
Maintainer: Matthew Callaway <mcallawa@genome.wustl.edu>
Standards-Version: 3.8.3

Package: githubmirror
Architecture: all
Depends: ${shlibs:Depends}, python
Description: A mirroring tool for github
 A mirroring tool for github repositories.
