#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Use v4 compatability mode, so ldconfig gets added to maint scripts.
#export DH_COMPAT=7

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

